body {
  background-color: #ddd;
}

.graph .col {
  padding: 0;
  height: 140px;
}

.node-rect {
  x: 5%;
  y: 5%;
  width: 90%;
  height: 90%;
  stroke: black;
  stroke-width: 2px;
  fill: rgb(4, 27, 70);
}

.node-rect.path {
  fill: rgb(4, 73, 73);
}

.selected-path-nbg-color {
  fill: rgb(4, 73, 73);
}

.node-text {
  fill: rgb(213, 219, 224);
}

.node-line {
  stroke: black;
  stroke-width: 10px;
}
