<div class="container">
  <div class="row">
    <div class="col col-xs-5">
      <button class="btn btn-primary" ng-click="select(true)">Source: {{ graph.find(source) || 'Click to set Source'}}</button>
    </div>
    <div class="col col-xs-1">
      <button class="btn btn-warning" ng-click="clear()">Clear Path</button>
    </div>
    <div class="col col-xs-5">
      <button class="btn btn-success" ng-click="select(false)">Target: {{ graph.find(target) || 'Click to set Target'}}</button>
    </div>
    <div class="col col-xs-1">
      <button class="btn">Distance {{ dist || 0 }}</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="graph row" *ngFor="let rowIndex of [0, 1, 2, 3, 4, 5]">
    <div class="col col-xs-2" *ngFor="let colIndex of nodesArr.slice(rowIndex*6,(rowIndex+1)*6)">
      <app-node-container></app-node-container>
    </div>
  </div>
